body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.footer-blurb h3 {
    color: midnightblue;
    }
    
.footer-blurb-item {
    padding: 30px 0;
    }
 
.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}

p { line-height: 180%}

.LICV{
    padding-left: 10px;
    margin-left: 10px;
    line-height: 1.7;
}

.home-title {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
}

.home-subtitle {
    font-size: 17px;
    margin-top: 6px;
}

.home-intro {
    font-size: 17px;
}

.home-links {
    font-size: 17px;
}



.cv-item {
    font-size: 16px;
}

.detail-text {
    font-size: 14px;
}

.section-title {
    font-size: 20px;
}

.cv-photo {
    float: right;
    max-width: 100%;
    margin: 0 0 15px 20px;
    height: auto;
}


.wrapper {
    padding: 2em 0em 4em 0em;
}

    .wrapper.style1 {
        padding: 0em;
        background: #222222 url(../images/banner.jpg) no-repeat;
        background-size: cover;
    }

#banner {
    padding: 6em 0em 3em 0em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

    #banner .container {
        padding: 0em 8em;
    }

    #banner h2 {
        display: inline-block;
        padding: 0.50em 0.30em;
        background: #82b440;
        font-size: 3em;
        font-weight: 400;
    }

    #banner span, #banner p {
        display: block;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.6em;
        font-weight: 300;
    }

    #banner span {
        padding: 1em 0em;
    }
